<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Yelp Camp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<nav class="navbar navbar-default titlebar">
			<div class="container-fluid">
				<div class=navbar-header>				
					<a class="navbar-brand" href="/">
						<svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-tree-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
							<path d="M7 13h2v3H7v-3z"/>
						</svg>
						<span class="titlebar-item">Yelp Camp</span>
						<svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-tree-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
							<path d="M7 13h2v3H7v-3z"/>
						</svg>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<% if(!currentUser) { %>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
						<% } else { %>
						<li>
							<a class=".profile-header-img" href="/userhome">Hello, <%= currentUser.username %>!
								<span class="profile-header-img"> 
									<img class="img-circle" src="images/TempProfilePic.jpg" alt="Profile Picture">
								</span>
							</a>
						</li>
						<li><a href="/logout">Logout</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>